<div style="font-family:sans-serif;text-align:center;padding:80px;background:#121212;color:#fff;min-height:100vh;">
  <h1 style="color:#ef5350;">Error {{status}}</h1>
  <p>{{message}}</p>
  <a href="/" style="color:#90caf9;">Go Home</a>
</div>
